<div class="container">
  <div class="text-box">
    <p class="bold-title">Validar cuenta</p>
    <p>Hemos enviado un PIN de cuatro (4) dígitos al
      <span *ngIf="contactInfo?.contactType=='4'">número de celular</span>
      <span *ngIf="contactInfo?.contactType=='1'">correo</span>
    </p>
    <div class="red-box mt30">
      <img src="assets/images/{{contactInfo?.contactType=='1'?'mail-red.svg':'tablet-red.svg'}}" />
      <label class="red-label">{{contactInfo?.mask}}</label>
    </div>
  </div>
  <form (ngSubmit)="validatePin(pinForm.value)" [formGroup]="pinForm" class="content">
    <p class="pin-text">PIN de seguridad</p>
    <div formArrayName="digits" class="box">
      <input type="number" class="mr20" #inputs maxLength="1"
      *ngFor="let field of digits.controls; let i = index"  
      [formControlName]="i" 
      (keyup)="check(i, field, $event)" 
      (keydown)="validateKey($event, field)">
    </div>
    <div class="text-center">
      <p class="text">¿No recibiste el PIN de seguridad?</p>
      <label class="red-text" (click)="generatePin()">
        <span>Reenviar</span>
        <div class="content-icon">
          <mat-icon matSuffix class="icon-chevron">chevron_right</mat-icon>
        </div>
      </label>
    </div>
    <div class="mt50">
      <app-button
        class="app-button"
        type="submit"
        [disabled]="pinForm.invalid">
        Validar
      </app-button>
    </div>
  </form>
</div>
